<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="/">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">home</mat-icon>
      <span>Online Shop</span>
    </div>
    <span class="example-spacer"></span>
    <div class="toolbar no-select">
      <button mat-flat-button routerLink="/">Home</button>
      <button mat-flat-button routerLink="products">Products</button>
      <button mat-flat-button routerLink="/basket">Cart</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
